{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!--<link rel="stylesheet" href="buildsheet.css">-->
    <title>Build sheet</title>
	<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<link href="{% static 'css/toastr.min.css' %}" rel="stylesheet" id="bootstrap-css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
    <link href="{% static 'css/buildsheet.css' %}" rel="stylesheet" id="bootstrap-css">
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/ui/common.js' %}"></script>
	<script src="{% static 'js/ui/auditReport.js' %}"></script>
	<script src="{% static 'js/toastr.min.js' %}"></script>
  <link href="{% static 'css/jm.spinner.css' %}" rel="stylesheet" type="text/css">
  <script src="{% static 'js/ui/jm.spinner.js' %}"></script>
  <style>

.box { width:100%; height: 400px; }

.spinner { position:relative; top:50%; left:44%; }
</style>
  </head>
  <body>
    <div>
    <h2 class="mt-5">  Buildsheet Generation System</h2>
    <nav class="navbar navbar-expand-lg navbar-light" style="border-bottom: 1px solid grey;">
     <!--  <a class="navbar-brand" href="#">Navbar</a> -->
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" onClick='buildsheetPage()'>Buildsheets </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#" onClick='createPage()'>Create <span class="sr-only">(current)</span></a>
          </li>
          </li>
           <li class="nav-item active ">
            <a class="nav-link" onClick='auditPage()' href="#">Audit Report</a>
          </li>
           
          <li class="nav-item ">
                <a class="nav-link" href="#" onClick='datacompletion()'>DCR</a>
            </li>
          <li class="nav-item ">
                <a class="nav-link" href="#" onClick='unique()'>Unique Entity</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">User Guide</a>
          </li>
        </ul>
        <a class="form-inline my-2 my-lg-0 btn" href="#" style="color: white;">
          <span class="glyphicon glyphicon-log-out"></span>
        </a>
      </div>
    </nav>
  </div>
  <div class="container-fluid">
  <!-- <h3>Buildsheets</h3> -->
    <div class='form-container'>

        
          <div id="accordion">
            <ul class="list-group">

      {% for key,value in listing.items %}
  <li class="list-group-item justify-content-between">
    <div class='row'>
      <div class="col-xl-6">
        <h3 >{{key.0}}</h3>
      </div>
      <div class="col-xl-6">
        <span class="badge badge-default badge-pill">{{value|length}}</span>
      </div>
    </div>
         
            {% for k,v in value.items %}

                <div class="card">
                  <div class="card-header">
                    <div class='row' style=" margin-bottom: 0px;margin-top: 0px;">
                      <div class="col-xl-6">
                        <a class="card-link" data-toggle="collapse" style="padding: 10px;margin-top: 2px;" href=#collapseOne{{key.1}}{{k.1}}>
                          {{k.0}}
                       </a>
                       <span class="badge badge-default badge-pill" style="margin-top: 10px; float:initial; margin-right: 2px;">{{v|length}}</span> 
                      </div>
                       
                      
                      
                        
                         
                      
                      <!--<div class="col-xl-2">

                                 <button type="button" name="next"  style="width:150px;height:25px;" aco_id={{key.1}} source_id={{k.1}} class="btn-sm btn-outline-warning download-report">Download Report</button>

                            </div>-->
                            <div class="col-xl-6">
                           <a class="form-inline btn download-report " align="right" aco_id={{key.1}} source_id={{k.1}} data-toggle="popover" title="Download Report" data-trigger="click" data-placement="right" href="#" style="padding: 10px;margin-top: 2px;float:right;"><span class="glyphicon glyphicon glyphicon-download"></span></a>
                            <!--<div class="col-xl-2">

                                 <button type="button" name="next"  style="width:150px;height:25px;" aco_id={{key.1}} source_id={{k.1}} class="btn-sm btn-outline-warning view-report">View Report</button>

                            </div>-->
                            <a class="form-inline btn view-report " align="right" aco_id={{key.1}} source_id={{k.1}} data-toggle="popover" title="View Report" data-trigger="click" data-placement="right" href="#" style="padding: 10px;margin-top: 2px;float:right;"><span class="glyphicon glyphicon glyphicon-eye-open"></span></a>
                            <!--<div class="col-xl-2">

                                 <button type="button" name="next"  style="width:200px;height:25px;" aco_id={{key.1}} source_id={{k.1}} class="btn-sm btn-outline-warning view-onse">View ontology/semantic</button>

                            </div>-->

                            <a class="form-inline btn view-onse " align="right" aco_id={{key.1}} source_id={{k.1}} data-toggle="popover" title="View Ontology/Semantic"  data-trigger="click" data-placement="right" href="#" style="padding: 10px;margin-top: 2px;float:right;"><span class="glyphicon glyphicon glyphicon-stats"></span></a>
                            </div>
                      
                      

                    </div>
                  </div>
                  <div id=collapseOne{{key.1}}{{k.1}} class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      {% if v %}
                        {% for val in v %}
                          <div class='row'>
                            <div class="col-xl-6">
                                 <h6 class='catergory'>{{val.0}}</h6>
                            </div>
                              <div class='col-xl-6'><a class="form-inline btn audit-report " meta_id={{val.1}} data-toggle="popover" title="Download Report" data-trigger="click" data-placement="right" href="#" style="padding: 10px;float:right;margin-top: 4px;"><span class="glyphicon glyphicon glyphicon-download"></span></a>
                            <!--<div class="col-xl-2">

                                 <button type="button" name="next"  style="width:120px;height:40px;" meta_id={{val.1}} class="btn-sm btn-outline-warning audit-report" >Audit Report</button>

                            </div>-->

                            <a class="form-inline btn audit-view " meta_id={{val.1}} data-toggle="popover" title="View Report" data-trigger="click" data-placement="right" href="#" style="padding: 10px;float:right; margin-top: 4px;"><span class="glyphicon glyphicon glyphicon-eye-open"></span></a>
                            <!-- <div class="col-xl-2">

                                 <button type="button" name="next"  style="width:120px;height:40px;" meta_id={{val.1}} class="btn-sm btn-outline-warning audit-view" >View Audit</button>

                            </div>-->
                             <!--<div class="col-xl-2">

                                 <button type="button" name="next"  style="width:200px;height:40px;" meta_id={{val.1}} class="btn-sm btn-outline-warning ontology" >View ontology/semantic</button>

                            </div>-->
                            <a class="form-inline btn semantic " meta_id={{val.1}} data-toggle="popover" title="View Ontology/Semantic" data-trigger="click" data-placement="right" href="#" style="padding: 10px; float:right;margin-top: 4px;"><span class="glyphicon glyphicon glyphicon-stats"></span></a>
                            </div>
                            <!--<div class="col-xl-2">

                                 <button type="button" name="next"  style="width:200px;height:40px;" meta_id={{val.1}} class="btn-sm btn-outline-warning semantic" >View ontology/semantic</button>

                            </div>-->
                          </div>
                        {% endfor %} 
                      {% else %}
                      No Buildsheet Found.
                      {% endif %}  
                    </div>
                  </div>
                </div>
            {% endfor %}
        </li>    
      {% endfor %}
       
  </ul>
          </div>

    
     {% csrf_token %}



    
    </div>

    

    </div>

<br>
  </body>
</html>
