{% extends "buildsheet/base.html" %}
{% block content %}
{% load static %}
<script type="text/javascript">
  $('#buildsheet-link').parent().removeClass('active');
  $('#valuelever-link').parent().removeClass('active');
  $('#auditreport-link').parent().addClass('active');
</script>

<div class='header'>
    <div class='row'>
      <div class='col-xl-6'>
        
        <h4 class='title'>Audit Report</h4>
      </div>
      <!--<div class='col-xl-6'>
        <button class="float-right sc-bwzfXH Rpxft" style="font-weight: 400;" data-toggle="modal" data-target="#NewBuildsheetModal">New Buildsheet</button>-->
      </div>
    </div>
</div>

<div class="container-fluid">      
    <div class="cvRkBw">
        <div class="TsPzA">
          {% for buildsheet in buildsheets %}
            <div class="sc-kIPQKe kZRLjS">
                <div class="sc-RefOD kxMCsa col-xl-3" title={{buildsheet.0}}>
                  <a class="text-dark auditreport-link" href='#' buildsheet_id={{buildsheet.2}} style="font-size: 18px; text-transform: capitalize;">{{buildsheet.0}}</a>
                  <div class="display-flex">
                    <div class="sc-ibxdXY fbXAnU"><span class="text-gray">{{buildsheet.10}} Category</span></div>
                  </div>
                </div>
                <div class="sc-RefOD kxMCsa col-xl-2" title={{buildsheet.0}}>
                  <a class="text-dark" style="font-size: 13px;">OLAP Version: {{buildsheet.11}}</a>
                   <div class="display-flex">
                    <div class="sc-ibxdXY fbXAnU"><span class="text-gray" style="font-size: 13px;">EMR Name: {{buildsheet.7}}</span></div>
                  </div>
                </div>
                <div style="width: 30%;float:right;">
                  
                  <a class="form-inline btn download-report " align="right" aco_id={{buildsheet.3}} source_id={{buildsheet.5}} meta_id={{buildsheet.1}}  data-toggle="popover" title="Download Report" data-trigger="click" data-placement="right" href="#" style="float:right; "><span class="fas fa-download"></span></a>
                            
                  <a class="form-inline btn view-report " align="right" aco_id={{buildsheet.3}} source_id={{buildsheet.5}} meta_id={{buildsheet.1}} data-toggle="popover" title="View Report" data-trigger="click" data-placement="right" href="#" style="float:right;"><span class="fas fa-eye"></span></a>
                  
                </div>
                
                
            </div>
          {% endfor %}
        </div>
    </div>   

 {% csrf_token %}



</div>
<!--<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    
    <title>Build sheet</title>
	<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<link href="{% static 'css/toastr.min.css' %}" rel="stylesheet" id="bootstrap-css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
    <link href="{% static 'css/buildsheet.css' %}" rel="stylesheet" id="bootstrap-css">
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/ui/common.js' %}"></script>
	<script src="{% static 'js/ui/auditReport.js' %}"></script>
	<script src="{% static 'js/toastr.min.js' %}"></script>
  <link href="{% static 'css/jm.spinner.css' %}" rel="stylesheet" type="text/css">
  <script src="{% static 'js/ui/jm.spinner.js' %}"></script>
  <style>

.box { width:100%; height: 400px; }

.spinner { position:relative; top:50%; left:44%; }
</style>
  </head>
  <body>
    <div>
    <h2 class="mt-5">  Buildsheet Generation System</h2>
    <nav class="navbar navbar-expand-lg navbar-light" style="border-bottom: 1px solid grey;">
     
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" onClick='buildsheetPage()'>Buildsheets </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#" onClick='createPage()'>Create <span class="sr-only">(current)</span></a>
          </li>
          </li>
           <li class="nav-item active ">
            <a class="nav-link" onClick='auditPage()' href="#">Audit Report</a>
          </li>
           
          <li class="nav-item ">
                <a class="nav-link" href="#" onClick='datacompletion()'>DCR</a>
            </li>
          <li class="nav-item ">
                <a class="nav-link" href="#" onClick='unique()'>Unique Entity</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">User Guide</a>
          </li>
        </ul>
        <a class="form-inline my-2 my-lg-0 btn" href="#" style="color: white;">
          <span class="glyphicon glyphicon-log-out"></span>
        </a>
      </div>
    </nav>
  </div>-->
 <!-- <div class="container-fluid">
    <div class='form-container'>

        
          <div id="accordion">
            <ul class="list-group">

      {% for key,value in listing.items %}
  <li class="list-group-item justify-content-between">
    <div class='row'>
      <div class="col-xl-6">
        <h3 >{{key.0}}</h3>
      </div>
      <div class="col-xl-6">
        <span class="badge badge-default badge-pill">{{value|length}}</span>
      </div>
    </div>
         
            {% for k,v in value.items %}

                <div class="card">
                  <div class="card-header">
                    <div class='row' style=" margin-bottom: 0px;margin-top: 0px;">
                      <div class="col-xl-6">
                        <a class="card-link" data-toggle="collapse" style="padding: 10px;margin-top: 2px;" href=#collapseOne{{key.1}}{{k.1}}>
                          {{k.0}}
                       </a>
                       <span class="badge badge-default badge-pill" style="margin-top: 10px; float:initial; margin-right: 2px;">{{v|length}}</span> 
                      </div>
                       
                      
                      
                        
                         
                      
                      
                            <div class="col-xl-6">
                           <a class="form-inline btn download-report " align="right" aco_id={{key.1}} source_id={{k.1}} data-toggle="popover" title="Download Report" data-trigger="click" data-placement="right" href="#" style="padding: 10px;margin-top: 2px;float:right;"><span class="glyphicon glyphicon glyphicon-download"></span></a>
                            
                            <a class="form-inline btn view-report " align="right" aco_id={{key.1}} source_id={{k.1}} data-toggle="popover" title="View Report" data-trigger="click" data-placement="right" href="#" style="padding: 10px;margin-top: 2px;float:right;"><span class="glyphicon glyphicon glyphicon-eye-open"></span></a>
                            

                            <a class="form-inline btn view-onse " align="right" aco_id={{key.1}} source_id={{k.1}} data-toggle="popover" title="View Ontology/Semantic"  data-trigger="click" data-placement="right" href="#" style="padding: 10px;margin-top: 2px;float:right;"><span class="glyphicon glyphicon glyphicon-stats"></span></a>
                            </div>
                      
                      

                    </div>
                  </div>
                  <div id=collapseOne{{key.1}}{{k.1}} class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      {% if v %}
                        {% for val in v %}
                          <div class='row'>
                            <div class="col-xl-6">
                                 <h6 class='catergory'>{{val.0}}</h6>
                            </div>
                              <div class='col-xl-6'><a class="form-inline btn audit-report " meta_id={{val.1}} data-toggle="popover" title="Download Report" data-trigger="click" data-placement="right" href="#" style="padding: 10px;float:right;margin-top: 4px;"><span class="glyphicon glyphicon glyphicon-download"></span></a>
                            

                            <a class="form-inline btn audit-view " meta_id={{val.1}} data-toggle="popover" title="View Report" data-trigger="click" data-placement="right" href="#" style="padding: 10px;float:right; margin-top: 4px;"><span class="glyphicon glyphicon glyphicon-eye-open"></span></a>
                            
                             
                            <a class="form-inline btn semantic " meta_id={{val.1}} data-toggle="popover" title="View Ontology/Semantic" data-trigger="click" data-placement="right" href="#" style="padding: 10px; float:right;margin-top: 4px;"><span class="glyphicon glyphicon glyphicon-stats"></span></a>
                            </div>
                            
                          </div>
                        {% endfor %} 
                      {% else %}
                      No Buildsheet Found.
                      {% endif %}  
                    </div>
                  </div>
                </div>
            {% endfor %}
        </li>    
      {% endfor %}
       
  </ul>
          </div>

    
     {% csrf_token %}



    
    </div>

    

    </div>

<br>-->
  
<script src="{% static 'js/ui/auditReport.js' %}"></script>
{% endblock %}
